# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rag_vector_db
DB_USER=postgres
DB_PASSWORD=led_senha


# Models
## LM Models configs
EMBEDDING_MODEL_NAME = "paraphrase-multilingual-MiniLM-L12-v2"
EMBEDDING_MODEL_LOCAL_PATH = "models/multilingual_miniLM_L12_v2"
EMBEDDING_VECTOR_DIM = 384

## LLM Models configs
GEMINI_API_KEY = "Your_Gemini_API_Key_Here"  
GEMINI_MODEL_ID = "gemini-3.8-flash"

# Data
DATASETS_DIR = "data"